/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
.container {
 display: flex;
 flex-direction: column;
 gap: 32px;
}
